<!DOCTYPE html>
<html lang="en">
<head th:include="fragments.html :: head(title='Project delete page', path='/css/index.css')">
</head>
<body>
<main>
    <h1>Delete Project Page</h1>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <ul>
                    <li th:text="${project.name}"></li>
                    <li th:text="${project.tzPath}"></li>
                </ul>
                <form method="post" th:action="@{/project/delete/{id}(id=${project.id})}">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a th:href="@{/}" class="btn btn-warning">No</a>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>