<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header('Projects')">
</head>
<body>
<header>
    <section th:include="fragments.html :: navbar"></section>
</header>
<main>
    <div class="container">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Tz Path</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project,iter :  ${projects}">
                <th th:text="${iter.count}"></th>
                <th th:text="${project.name}"></th>
                <th th:text="${project.tzPath}"></th>
                <th class="icons">
                    <a th:href="@{/project/detail/{id}/(id = ${project.id})}">👁</a>
                    <a href="#">🔐</a>
                    <a href="#">🔓</a>
                    <a th:href="@{/project/delete/{id}/(id=${project.id})}">🗑</a>
                    <a th:href="@{/project/update/{id}/(id=${project.id})}">🔄</a>

                </th>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <section th:include="fragments.html :: js"></section>
</footer>
</body>
</html>