<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head(title='Organization list', path='/css/index.css')"></head>

<body>

<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo" style=" margin-right: 20px;
        margin-left: -60px;
        margin-top: -100px;">
            <img src="/images/logo.png" alt="" style="width: 100%">
        </div>

        <div class="link">
            <a th:href="@{/organization/SuperAdmins}">Super Admin control</a>
            <a th:href="@{/panel/superAdmin/}"> Organization</a>
            <a th:href="@{/organization/}">User control</a>
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <input type="text" placeholder="Search">
            </div>

            <div class="user-information">
                <div class="icon">
                    <a th:href="@{/auth/logout}" class="btn btn-outline-danger">logout</a>
                </div>

                <div class="user">
                    <img src="/images/useer.png" alt="">
                    <p>Mushkityorlar
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>

            </div>

            <!--            <section th:include="popups.html :: create_organization_modal"></section>-->
            <div class="container m-auto">
                <button type="button" class="btn btn-success mb-3" data-toggle="modal"
                        data-target="#createBookModal">
                    <i class="fa fa-plus"></i> + Create Organization
                </button>
                <div class="modal fade" id="createBookModal" tabindex="-1" role="dialog"
                     aria-labelledby="createBookModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createBookModalLabel">Add New Book</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/organization/create/}" th:method="post"
                                      enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name"/>
                                    </div>


                                    <div class="form-group">
                                        <label for="logo">Logo</label>
                                        <input type="file" class="form-control" id="logo" name="logo"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="code">Code</label>
                                        <input type="text" class="form-control" id="code" name="code"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" name="email" id="email"/>
                                    </div>

                                    <button type="submit" class="btn btn-primary mt-4">➕ Save</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Logo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="organization,iter :  ${organizations}">
                        <td th:text="${iter.count}"></td>
                        <td><img th:src="@{${organization.logo}}"
                                 style="width: 50px;height: 50px; border-radius: 50%;border: 2px solid red"/></td>
                        <td th:text="${organization.name}"></td>
                        <td class=" ml-5">
                            <!--             <button type="button" data-toggle="modal"
                                                 data-target="#orgDetailsModal"
                                                 class="btn btn-outline-info">Detail
                                         </button>-->
                            <a th:href="@{/organization/detail/{id}/(id = ${organization.id})}"
                               class="btn btn-outline-info">Detail</a>
                            <a th:href="@{/organization/delete/{id}/(id=${organization.id})}"
                               class="btn btn-outline-danger">Delete</a>
                            <a th:href="@{/organization/update/{id}/(id=${organization.id})}"
                               class="btn btn-outline-primary">Update</a>
                            <a th:href="@{/admin/create/{id}/(id=${organization.id})}"
                               class="btn btn-outline-success ml-5">CREATE ADMIN</a>

                            <!--       <button type="button" data-toggle="modal"
                                           data-target="#orgUpdateModal"
                                           class="btn btn-outline-info">Update
                                   </button>
                                   <div class="modal" id="orgUpdateModal" >
                                       <div class="modal-dialog " role="document">
                                           <div class="modal-content">
                                               <div class="modal-header">
                                                   <h5 class="modal-title" id="orgUpdateModalLabel">Update Organization</h5>
                                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                       <span aria-hidden="true">&times;</span>
                                                   </button>
                                               </div>

                                               <div class="modal-body">
                                                   <form th:action="@{/organization/update/{id}/(id=${organization.id})}" th:method="post" enctype="multipart/form-data">

                                                       <div class="form-group">
                                                           <label for="update_name">Name</label>
                                                           <input type="text" class="form-control" th:value="${organization.name}" id="update_name" name="name"/>
                                                       </div>

                                                       &lt;!&ndash;        <div class="form-group">
                                                                   <label for="logo">Logo</label>
                                                                   <input type="file" class="form-control" id="logo" name="logo"/>
                                                               </div>&ndash;&gt;

                                                       <div class="form-group">
                                                           <label for="update_code">Code</label>
                                                           <input type="text" class="form-control" th:value="${organization.code}" id="update_code" name="code"/>
                                                       </div>
                                                       <div class="form-group">
                                                           <label for="update_email">Email address</label>
                                                           <input type="email" class="form-control" th:value="${organization.email}" name="email" id="update_email"/>
                                                       </div>

                                                       <button type="submit" class="btn btn-primary mt-4">➕ Save</button>
                                                   </form>

                                               </div>
                                               <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                               </div>
                                           </div>
                                       </div>
                                   </div>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </nav>


    </aside>
</header>

<!--
<div class="modal fade" id="createBookModal" tabindex="-1" role="dialog" aria-labelledby="createBookModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBookModalLabel">Add New Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/organization/create/}" th:method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name"/>
                    </div>


                    <div class="form-group">
                        <label for="logo">Logo</label>
                        <input type="file" class="form-control" id="logo" name="logo"/>
                    </div>

                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" class="form-control" id="code" name="code"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" id="email"/>
                    </div>

                    <button type="submit" class="btn btn-primary mt-4">➕ Save</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->
<!--

<div class="modal fade" id="orgDetailsModal" tabindex="-1" role="dialog" aria-labelledby="orgDetailsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orgDetailsModalLabel">Organization Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->


<script>
    const menu = document.querySelector(".menu-bar")
    const main = document.querySelector("main")
    menu.addEventListener("click", () => {
        main.classList.toggle("open")
    })

</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
