<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head(title='Super Admin Panel', path='/css/index.css')"></head>
<body>

<header>
    <main>
        <div class="menu-bar">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <img src="/images/logo.png">
        </div>

        <div class="link">
            <a th:href="@{/organization/organizations/}"> Organization</a>
            <!--            <a th:href="@{/user/admin/}">Admin control</a>-->
        </div>
    </main>

    <aside>
        <nav>
            <div class="input">
                <div>
                    <i class="fas fa-search"></i>
                </div>

                <input type="text" placeholder="Search">
            </div>

            <div class="user-information">
                <div class="icon">
                    <a th:href="@{/auth/logout}" class="btn btn-outline-danger">logout</a>
                </div>

                <div class="user">
                    <img src="/images/useer.png" alt="">
                    <p>Mushkityorlar
                        <i class="fas fa-angle-down"></i>
                    </p>
                </div>

            </div>
        </nav>

        <!--<div class="container">
            &lt;!&ndash;            <h3 th:text="${user.fullName}"></h3>&ndash;&gt;
            <div class="content">
                <div class="contents">
                    <div class="content-text">
                        <p>Users</p>
                        <p>Export</p>
                    </div>
                    <div class="box" th:each="user,iter :  ${users}">
                        <p th:text="${user.fullName}"></p>
                        <span><img th:src="@{${user.profileImage}}" alt=""></span>
                        <div class="box-text">
                            <span th:text="${user.username}"></span>
                            <span th:text="${user.phone}"></span>
                            <span th:text="${user.email}"></span>
                            <span th:text="${user.language}"></span>
                            <span th:text="${user.created_at}"></span>
                        </div>
                    </div>
                </div>

                <div class="content-box">
                    <div class="content-text">
                        <p>Tasks</p>
                    </div>
                    <div class="box">

                        <div class="box-text">
                            <p>ОсОО “Energi.kg”</p>
                            <span>
                                        <img src="./assets/imges/sunrise.png" alt="">12/04/2021
                                    </span>
                        </div>

                    </div>

                    <div class="box">

                        <div class="box-text">
                            <p>ОсОО “Energi.kg”</p>
                            <span>
                                        <img src="./assets/imges/sunrise.png" alt="">12/04/2021
                                    </span>
                        </div>

                    </div>

                    <div class="box">

                        <div class="box-text">
                            <p>ОсОО “Energi.kg”</p>
                            <span>
                                        <img src="./assets/imges/sunrise.png" alt="">12/04/2021
                                    </span>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->

        <div class="container">
            <h3>Super admin</h3>
            <div class="content" style=" grid-template-columns: 300px 750px;!important;">
                <div class="contents">
                    <img src="/images/portfolio.jpg" width="100%"/>
                </div>

                <div class="contents">
                    <div class="content-text">
                        <p>Projects</p>
                        <p>Export</p>
                    </div>
                    <div class="box">
                        <p>ОсОО “Energi.kg”</p>
                        <div class="box-text">
                                    <span>
                                        <img src="./assets/imges/sunrise.png" alt="">12/04/2021
                                    </span>
                            <span>
                                        <img src="./assets/imges/sunset2.png" alt=""> 12/04/2021
                                    </span>
                            <span>
                                       <img src="./assets/imges/users.png" alt=""> Adyl, Azhar, Arthur
                                    </span>
                        </div>
                    </div>
                    <div class="box">
                        <p>ОсОО “Energi.kg”</p>
                        <div class="box-text">
                                    <span>
                                        <img src="./assets/imges/sunrise.png" alt="">12/04/2021
                                    </span>
                            <span>
                                        <img src="./assets/imges/sunset2.png" alt=""> 12/04/2021
                                    </span>
                            <span>
                                       <img src="./assets/imges/users.png" alt=""> Adyl, Azhar, Arthur
                                    </span>
                        </div>
                    </div>
                    <div class="box">
                        <p>ОсОО “Energi.kg”</p>
                        <div class="box-text">
                                    <span>
                                        <img src="./assets/imges/sunrise.png" alt="">12/04/2021
                                    </span>
                            <span>
                                        <img src="./assets/imges/sunset2.png" alt=""> 12/04/2021
                                    </span>
                            <span>
                                       <img src="./assets/imges/users.png" alt=""> Adyl, Azhar, Arthur
                                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content pt-5" style=" grid-template-columns: 330px 330px;">
                <div class="content pt-5" style=" grid-template-columns: 330px 330px;!important;">
                    <div class="contents"></div>
                </div>
                <div class="content pt-5" style=" grid-template-columns: 330px 330px;!important;">
                    <div class="contents"></div>
                    <div class="contents"></div>
                </div>
            </div>
        </div>

    </aside>

</header>

<script>
    const menu = document.querySelector(".menu-bar")
    const main = document.querySelector("main")
    menu.addEventListener("click", () => {
        main.classList.toggle("open")
    })
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>